/.idea/
build
secret.json
sftpCache.json
cache/0.10.5/win/datastore
cache/0.10.5/linux64
cache/0.10.5/linux32

node_modules/grunt-node-webkit-builder
cache/win/datastore
cache/win/locales
cache/win/datastore/connections/192.168.2.105.json
ablage
cache/win_32/ScriptGUI_Data
cache/win_32/setup.json
